body 
{
	border: 5px solid black;
	margin: 1% auto;
	width: 30cm;
	min-height: 27.9cm;
	box-shadow: -6px 6px 12px solid black;
	padding: 2cm 2.5cm;
	font-family: Roboto Condensed ;
	line-height: 1.5;
	background: ;
}

.BildMST
{
	height: 170px;
	width: 220px;
}
a.Produkte:link
{
   color: #000000;
   text-decoration: none;
}
a.Produkte:visited
{
   color: #000000;
   text-decoration: none;
}
a.Produkte:hover
{
   color: #000000;
   text-decoration: none;
}
a.Produkte:active
{
   color: #000000;
   text-decoration: none;
}

.form
{
  border: 3px solid #f1f1f1;
}



button
{
  background-color: #0a1bd8;
  color: white;
  padding: 18px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 35%;
  center;
}

button:hover {
  opacity: 1;
}

.container
 {
    padding: 0;
    margin: 0;
    list-style: none;

    display: flex;
}


.bild
 {
    background: ;
    margin: 5px;
    width: 10cm;
    height: 150px;
    margin-top: 0px;

    line-height: 150px;
    color: white;
    font-weight: bold;
    font-size: 3cm;
    text-align: left;  
}

.container-table
 {
    background: ;
    margin: 5px;
    width: 10cm;
    height: 150px;
    margin-top: 0px;

    line-height: 150px;
    color: white;
    font-weight: bold;
    font-size: 3cm;
    text-align: center;  
}

.item
{
	background: ;
    margin: 5px;
    width: 10cm;
    height: 150px;
    margin-top: 0px;

    line-height: 150px;
    color: white;
    font-weight: bold;
    font-size: 3cm;
    text-align: center; 
	
}



.th 
{
	background: #ccc;
	border: 1px solid #000000;
	padding: 5px 0 5px 10px;
}

form 
{
  border: 3px solid #f1f1f1;
}

button
{
  background-color: #111e6c;
  color: white;
  padding: 8px 2px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 25%;

}

button:hover {
  opacity: 1;
}


.imgcontainer {
  text-align: center;
  margin: 24px 0 12px 0;
}

.container-anmeldung {
 
 justify-content: center;

 
 
}


