form {
  border: 3px solid #f1f1f1;
}


.MST Logo
{
	width: 240px; 
	height: 130x;
}

body 
{
	border: 5px solid black;
	margin: 1% auto;
	width: 30cm;
	min-height: 27.9cm;
	box-shadow: -6px 6px 12px solid black;
	padding: 2cm 2.5cm;
	font-family: Roboto Condensed ;
	line-height: 1.5;
	background: ;
}


button {
  background-color: #0a1bd8;
  color: white;
  padding: 18px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 35%;

}

button:hover {
  opacity: 1;
}


.imgcontainer {
  text-align: center;
  margin: 24px 0 12px 0;
}

.container {
 
 justify-content: center;

 
 
}
