body 
{
	border: 5px solid black;
	margin: 1% auto;
	width: 30cm;
	min-height: 40cm;
	box-shadow: -6px 6px 12px solid black;
	padding: 2cm 2.5cm;
	font-family: Roboto Condensed ;
	line-height: 1.5;
	background: ;
}


.MSTLogo
{
	height: 170px;
	width: 220px;
}
a.Produkte:link
{
   color: #000000;
   text-decoration: none;
}
a.Produkte:visited
{
   color: #000000;
   text-decoration: none;
}
a.Produkte:hover
{
   color: #000000;
   text-decoration: none;
}
a.Produkte:active
{
   color: #000000;
   text-decoration: none;
}

.container
 {
    padding: 0;
    margin: 0;
    list-style: none;
    display: flex;
}


.bild
 {
    background:  ;
    margin: 5px;
    width: 10cm;
    height: 150px;
    margin-top: 0px;

    line-height: 150px;
    color: white;
    font-weight: bold;
    font-size: 3cm;
    text-align: left;  
}

.container-table
 {
    background:  ;
    margin: 5px;
    width: 10cm;
    height: 150px;
    margin-top: 0px;

    line-height: 150px;
    color: white;
    font-weight: bold;
    font-size: 3cm;
    text-align: center;  
}

.container-produkte
{
	margin:5px;
	width:10cm;
	height:150px;
	margin-top:0px;
}

table
{
	width: 90%;
	margin-bottom: 5px;
	text-align: left;
    border-collapse: collapse;
}
 
th 
{
	background: #ccc;
}

th
{
	border: 1px solid #000000;
	padding: 5px 0 5px 10px;
}



button
{
  background-color: #111e6c;
  color: white;
  padding: 8px 1px;
  margin: 0px 0;
  border: none;
  cursor: pointer;
  width: 25%;
	text-align: center;  
}

.item
{
	background:  ;
    margin: 5px;
    width: 10cm;
    height: 150px;
    margin-top: 0px;
    line-height: 150px;
    color: white;
    font-weight: bold;
    font-size: 3cm;
    text-align: right; 	
}

.

form 
{
  border: 3px solid #f1f1f1;
}


button:hover
{
	
 opacity: 1;
 
}


.imgcontainer 
{
	
  text-align: center;
  margin: 24px 0 12px 0;
  
}

.container-anmeldung
{
 
 justify-content: center;
 
}


.container-produkte1
{
    padding: 0;
    margin: 0;
    list-style: none;
	display: flex; 
	padding: 1cm;
	margin-top: 1cm;
}
.top-produkte1
{
	background: ;
    margin: 5px;
    width: 500px;
    height: 150px;
    margin-top: 0px;
    line-height: 150px;
    color: white;
    font-weight: bold;
    font-size: 3cm;
    text-align: center; 
}
.Ipad2017
{
	width: 350px;
	height: 350px;
}
.Ipad2019
{
	width: 350px;
	height: 400px;
}
.MacBook
{
	width: 350px;
	height: 350px;
}
.container-produkte2
{
    padding: 0;
    margin: 0;
    list-style: none;
	display: flex; 
	margin-top: 7cm;
}
.top-produkte2
{
	background: ;
    margin: 2px;
    width: 500px;
    height: 150px;
    margin-top: 10px;
    line-height: 150px;
    color: white;
    font-weight: bold;
    font-size: 3cm;
    text-align: center; 
	
}
.Iphonexsmax
{
	width: 325px;
	height: 325px;
}
.Iphonexs
{
	width: 350px;
	height: 350px;
}
.MacBookPro1
{
	width: 325px;
	height: 325px;
}
.MacBookPro2
{
	width: 325px;
	height: 325px;
}
.Samsunga9
{
	width: 275px;
	height: 300px;
}
.Samsungs9
{
	width: 360px;
	height: 340px;
}
.Galaxytabs4
{
	width: 350px;
	height: 350px;
}
.Galaxytabs3
{
	width: 250px;
	height: 325px;
}
.Galaxywatch
{
	width: 250px;
	height: 250px;
}
.Galaxywatch2
{
	width: 325px;
	height: 275px;
}
.OmenLaptop15
{
	width: 350px;
	height: 350px;
}
.OmenLaptop17
{
	width: 350px;
	height: 300px;
}
.Omen880
{
	width: 250px;
	height:200px;
}
.Omenx
{
	width: 350px;
	height: 300px;
}
.Envyx360
{
	width: 350px;
	height: 300px;
}
.Spectrenotebook
{
	width: 350px;
	height: 300px;
}